<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link me-5" [routerLink]="['']">Products List</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/add-new-product']">Add New Product</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
